.content {
  width:375px;
}

.content h1 {
  font-size: 300px;
  text-align: center;
  padding-top: 100px;
}

.content h2 {
  font-size: 200px;
  text-align: center;
}

.content h1 {
  font-size: 300px;
  text-align: center;
  padding-top: 100px;
}
