body {
    width: 980px;
    background-color: #33cccc;
}

.logo {
    padding-top: 300px;
}

.content {
  width: 980px;
  display: block;
  text-align: center;
  padding-bottom: 150px;
}

.content h1 {
  font-size: 130px;
  vertical-align: middle;
  text-shadow: 3px 5px #000066;
  color: #ffffff;
}

.content h2 {
  font-size: 60px;
}

footer {
  width: 980px;
  text-align: center;
  font-size: 30px;
  text-shadow: 2px 2px #fff;
  padding-top: 600px;
}

button {
  display: block;
  margin: auto 0;
}

.card {
  display: block;
  height: 200px;
  position: relative;
  background-color: #faffd2;
  border: 5px solid rgb(0, 0, 0);
}
