.content {
  width:375px;
  height:667px;
  text-align: center;
  display: inline-block;
}

.content h1 {
  font-size: 200px;
  vertical-align: middle;
}

.content h2 {
  font-size: 100px;
}

.content h4 {
  font-size: 20px;
  vertical-align: bottom;
}
