<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="rules">
  <h1>Rules of the Game</h1>
  <h2>General Rules</h2>
  <p>All submitted words are placed in the "salad bowl". A player from team one has one minute to get his team to
    guess as many of the words pulled from the bowl as possible.
    Any words passed during a round are returned to the bowl and the player loses a point. For each word guessed the
    player's team earns a point. Play continues in this way, alternating players from each team
    until the bowl is empty, words are then returned to the bowl and the next round begins.
  <h2>Round 1</h2>
  <p>The rules of this round are like Taboo where you can do anything to
    get your team to guess the word other than saying the word or an abbreviation of the word.</p>
  <h2>Round 2</h2>
  <p>In this round, you can now only use charades to get your team to guess the words. Any hand gestures are allowed
    but no talking or props. The words have not changed so if you were paying attention in round one this should
    help. </p>
  <h2>Round 3</h2>
  <p>The most challenging round, where you are only allowed to give
    a single word as the clue. No gestures or facial expressions. Hopefully your teammates have a good memory
    from the previous two rounds!</p>
</div>
<div class="button">
  <a class="exit" href="https://laurenstewartgreen.github.io/saladbowlgame/index.html"
     class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Exit</a>
</div>


</body>
